<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vanguardia - {{rss.feed.title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/css_personalizado.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/javascript/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="text-center">
        <div class="boton-container">
                <img src="{{rss.feed.image.url}}" alt="{{rss.feed.image.description}}" class="img-fluid mb-4 "/>
                <button id="mode-toggle"class="boton"><i class="fa-solid fa-moon">Modo Oscuro</button></i>
        </div>
        <h1 class="my-4">La Vanguardia - <small>{{rss.feed.title}}</small></h1>
    </header>
    <div class="container">
        <div class="row">
            {% for item in rss.entries %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{item.link}}">{{item.title}}</a>
                        </h5>
                        {% for media in item.media_content %}
                            <p><img src="{{media.url}}" alt="{{item.title}}" class="img-fluid"/></p>
                        {% endfor %}
                        <p class="card-text">Descripcio: {{item.description}}</p>
                        <p class="card-text">Data Publicacio: {{item.published}}</p>
                        <p class="card-text">Categoria: {{item.category}}</p>
                        <p class="card-text">Autor: {{item.author}}</p>
                        <p class="card-text">Ultima actualitzacio: {{item.modified}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
